.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.table_container {
  width: 650px;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;

  input {
    width: 140px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
  }
}

.table_wrapper {
  height: 100%;
  overflow-y: auto;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
